@tailwind base;
@tailwind components;
@tailwind utilities;

.vertical-timeline.vertical-timeline-custom-line::before {
  background: rgba(255, 255, 255, 0.2);
}
.vertical-timeline.vertical-timeline-custom-line
  .vertical-timeline-element--work
  .vertical-timeline-element-icon {
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2),
    inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.vertical-timeline.vertical-timeline-custom-line
  .vertical-timeline-element--education
  .vertical-timeline-element-icon {
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2),
    inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: block !important;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.7em;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
